:root {
  /* color */
  --color-white: #ffffff;
  /* layout size */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  color: var(--white-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 25px;
}

header h1 {
  font-size: 40px;
}

.select_section {
}

.result_section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result_section .description {
  width: 80%;
  height: auto;
}

.result_section .description p {
  color: red;
  text-align: center;
}

.result_section .charts {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.result_section .charts .chart {
  width: 33%;
  height: auto;
}

.charts .chart div {
  height: 300px;
}
