@font-face {
  src: url("fonts/a Cinema L.ttf");
  font-family: "cinema";
}
@font-face {
  src: url("fonts/a Cinema B.ttf");
  font-family: "cinemab";
}

:root {
  /* color */
  --color-white: #ffffff;
  --color-lightgrey: #808080;
  --color-grey: #363636;
  --color-darkgrey: #1b1b1b;
  --color-lightblue: #fffd7d;
  /* layout size */
  --padding-large: 40px;
  --padding-medium: 20px;
  --padding-small: 5px;
  /* fonr size */
  --font-medium: 15px;
  --content-font-size: 20px;

  /* layout */
  --border-thickness: 2px;
}

* {
  font-family: "cinema";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  color: var(--color-white);
}
body {
  width: 70%;
  margin: calc(var(--padding-large) / 2) auto;
  display: flex;
  background-color: var(--color-grey);
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 100px;
  padding: 20px 20px;
  background-color: var(--color-darkgrey);

  display: flex;
  align-items: center;
  border-bottom: var(--border-thickness) solid var(--color-lightgrey);
}

header a {
  font-family: "cinemab";
  width: auto;
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  text-decoration-line: none;
}

.content_section {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  background-color: var(--color-darkgrey);
  flex-direction: row;
  align-items: center;
}

.content_section .material {
  width: 200px;
  height: 100%;
  padding: var(--padding-medium);
  border-right: var(--border-thickness) solid var(--color-lightgrey);
}

.content_section .material > * {
  padding: calc(var(--padding-small) * 2) 0;
  padding-left: var(--padding-medium);
}

.material > * a {
  font-size: var(--font-medium);
  text-decoration-line: none;
}

.material .material_list li {
  padding: var(--padding-small) 0;
}

.content_section .content {
  height: 100%;
  flex: 1;
  flex-direction: column;
  display: flex;
}

.content_section .content .title {
  height: calc(auto + var(--padding-medium));
  padding: calc(var(--padding-medium) + var(--padding-small))
    var(--padding-medium);
  margin: 0 var(--padding-large);
  align-content: center;
  border-bottom: var(--border-thickness) solid var(--color-lightgrey);
}

.content .title h1 {
  font-size: var(--content-font-size);
  text-align: left;
}

.content_section .content .detail {
  overflow-y: auto;
}

.content .detail .description {
  width: 100%;
  height: auto;
  padding: var(--padding-medium) var(--padding-large);
  margin-bottom: var(--padding-medium);
  display: flex;
  flex-direction: column;
  font-size: var(--font-medium);
}

.content .detail .charts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content .charts .chart {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-left: var(--padding-medium);
}

.charts .chart > div {
  height: 500px;
}

@media (max-width: 1400px) {
  body {
    width: calc(100% - var(--padding-large));
  }
}

@media (max-width: 1200px) {
  .content .charts .chart {
    width: 100%;
  }
}

@media (max-width: 950px) {
  body {
    height: auto;
  }

  header {
    position: relative;
  }

  .content_section {
    flex-direction: column;
    overflow-y: scroll;
  }

  body .content_section .material {
    width: 100%;
    height: auto;
    border-bottom: var(--border-thickness) solid var(--color-lightgrey);
    border-right: 0px;
    align-items: center;
  }

  .content_section .content {
    width: 100%;
    height: auto;
    align-items: flex-start;
  }

  .content_section .material .material_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .material .material_list li {
    padding: var(--padding-small) 0;
    padding-left: 10%;
    width: 50%;
    list-style: none;
  }

  .content_section .content .title {
    width: calc(100% - var(--padding-medium) * 2);
    padding: var(--padding-medium) var(--padding-medium);
    margin: 0 var(--padding-medium);
    text-align: center;
    position: sticky;
  }

  .content .detail .description {
    padding: var(--padding-medium) var(--padding-medium);
  }

  .content_section .content .detail {
    height: auto;
    overflow-y: unset;
  }

  .content .charts .chart {
    height: 500px;
    display: none;
  }
}

@media (max-width: 300px) {
  .material .material_list li {
    width: 100%;
  }
}
